@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@400;700&family=Roboto&display=swap');

:root {
    --color-gold: #BDAE82;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
    font-family: Merriweather;
    color: white;
    font-weight: 700;
    line-height: 200%;
}


body {
    background-color: black;
    font-family: Inter;
}

.wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/*  Buttons */

.gold-button {
    background: var(--color-gold);
    width: 220px;
    height: 55px;
}

.gold-button-text {
    font-family: Inter;
    color: black;
    font-size: 20px;
    line-height: 200%;
}

.black-button{
    background: black;
    border: 2px solid var(--color-gold);
    width: 220px;
    height: 55px;
}

.black-button-text {
    font-family: Inter;
    color: var(--color-gold);
    font-size: 20px;
    line-height: 200%;
}

/* Titles with gold line */

.section-title {
    font-size: 40px;
    line-height: 200%;
    font-family: Merriweather;
    color: var(--color-gold);
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    background: url('./assets/svg/section-title-line.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.section-title span {
    background-color: black;
    padding: 0px 20px;
}



/* --------- Header --------- */
.header {
    height: 90px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.switch-lng {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.en {
    color: var(--color-gold);
}

.ru {
    margin-right: 20px;
}

.slash {
    margin-left: 9px;
    margin-right: 8px;
}

.nav ul {
    margin: 20px 30px;
}

.nav ul li {
    margin: 0px 15px;    
    padding: 15px 0px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav {
    margin-left: auto;
    font-size: 20px;
    color: white;
}
    /* --------- Hero --------- */
#hero {
    background: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    padding-left: 80px;
}

.hero-title {
    padding-top: 160px;
}

.hero-text {
    color: white;
    font-size: 20px;
    line-height: 200%;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 470px;
    height: 120px;
}

    /* --------- Skills --------- */

.skill-item img {
    margin: 0 auto;
}

.skill-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    color: white;
    margin: 0 auto;
    width: 280px;
}

.skill-text {
    font-family: Inter;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    margin: 0 auto;
    width: 280px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 240px;
}

.skills-items {
    height: 242px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    text-align: center;
}

/* --------- Portfolio --------- */

.portfolio-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 25px;
    
}
